In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('test_scores.csv')

In [3]:
data.head(7)

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66

In [6]:
x = data.math.to_numpy()
y = data.cs.to_numpy()

In [23]:
def gradient_descent(x,y):
    m_curr = b_curr = 0
    l_rate = 0.0001
    n = len(x)
    plt.scatter(x,y,color='red',marker='+',linewidth='5')
    for i in range(10000):
        y_predicted = m_curr * x + b_curr
        cost = 1/n * sum([val **2 for val in (y-y_predicted)])
#         print (m_curr,b_curr, i)
        md = -(2/n)*sum(x*(y-y_predicted))
        yd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - l_rate * md
        b_curr = b_curr - l_rate * yd 
        print("m {} b {} cost {} iteration {}".format(m_curr,b_curr,cost,i))

In [ ]:
gradient_descent(x,y)

In [ ]:
plt.plot(x,y_predicted,color='green')